
#foto-bsas{
    opacity: 60%;
}

#letras-bsas{
    width: 100%;
   height: auto;
    text-align: right;
    box-sizing: border-box;
    position: absolute;
    top: 5rem;
    
    
    
}
 
#p.conf{
    position: absolute;
   
}

#foto-bsas-titulo{
    text-align: right ;
}
#oradores{
    padding-top: 100px;
    text-align: center;
}

#cartas{
    justify-content: center ;
    padding-top: 10px;
    
}

#honolulu{
    
    justify-content: center; 
    
}


#spot{
    background-color: rgb(61, 61, 61);
}

.texto-bajo{
    text-align:center ;
}

#formulario{
    margin: auto;
    
}



#pie-pag{
    justify-content: center; 
    margin-top: 3rem; 
    background: linear-gradient(to right, rgb(32, 40, 71), rgb(74, 86, 156) );
}

#preg{
    align-items:center ;
}

#foot{
    padding-top: 10px;
    
}

#prensa {
    color: aliceblue;
}
#pregF{
    color: aliceblue;
}

#contact{
    color: aliceblue;
}
#conf {
    color: aliceblue;
}
#terminos{
    color: aliceblue;
}
#estud {
    color: aliceblue;
}
#priv{
    color: aliceblue;
}



@media  screen and (max-width: 800px) {
    
    #letras-bsas {
        font-size: 12px;
    }
}

@media  screen and (max-width: 417px) {
    
    #letras-bsas {
        font-size: 8px;
        top: 2rem
        ;
    }
}

@media  screen and (max-width: 550px) and (max-height:625px ) {
    
    #letras-bsas {
        top:3rem;
    }
}
@media  screen and (max-width: 512px)  {
    
    #letras-bsas {
        top:2.5rem;
        font-size: 8.5px;
    }
}

@media  screen and (max-width: 390px) {
    
    #letras-bsas {
        top:3rem;
    }
}

@media  screen and (max-width: 376px) {
    #botones{
        --bs-btn-padding-y: .25rem; 
        --bs-btn-padding-x: .5rem; 
        --bs-btn-font-size: .75rem;
        

    }
    #letras-bsas {
        font-size: 8px;
        top: 4px;
      
    }
}



@media screen and (max-width: 360px) {
    #formulario{

        size-adjust: 20px;
    }
    
}

